[submodule "dncmds"]
	path = dncmds
	url = https://github.com/RobertCsordas/dnc
[submodule "transformer_generalization"]
	path = transformer_generalization
	url = git@github.com:hwnam831/transformer_generalization
	branch = submodule
[submodule "SAM"]
	path = SAM
	url = https://github.com/thaihungle/SAM
